name: Docker Image build and Run test FEM 2D AC

on:
  push:
  pull_request:

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
    - uses: actions/checkout@v3
    - name: Build Docker image
      run: docker build -t fem2dac .
    - name: Push Docker image
      run: docker push ananthkrishna96/fem2dac:latest10
    - name: Run test FEM 2D AC
      run: docker run fem2dac
